@model Villa_Web.Models.Dto.RgisterationRequestDTO

<form asp-action="Register" method="post">
    <div class="container border p-4">
        <div class="row text-center">
            <div class="col-12">
                <h1>Register</h1>
                <p>Please enter your credentials to register.</p>
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3 pb-2">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="col-6 offset-3 pb-2">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="col-6 offset-3 pb-2">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="col-6 offset-3 pb-2">
                <button type="submit" value="Submit" class="form-control btn-success">Register</button>
            </div>
        </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}